fastapi>=0.115
psycopg2-binary>=2.9
uvicorn>=0.30
pydantic>=2.9
python-dotenv>=1.0
python-multipart>=0.0.9
google-auth>=2.30
google-auth-oauthlib>=1.2
google-api-python-client>=2.140
tqdm>=4.66
groq>=0.9
pymupdf>=1.24
